{% extends 'base.html' %}


{% block title %}
    Account Page
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <a href="{% url 'hashing:hash-list' %}" class="btn btn-success">Hash List</a>
        <a href="{% url 'hashing:index' %}" class="btn btn-primary mx-2">Home</a>
        <a href="{% url 'change-password' %}" class="btn btn-info">Change Password</a>
        <a href="{% url 'logout' %}" class="btn btn-warning mx-2">Logout</a>
        <a href="{% url 'delete-account' pk=request.user.pk %}" class="btn btn-danger">Delete Account</a>
    </div>
{% endblock %}