{% extends 'base.html' %}

{% block title %}
    List of your saved hashes
{% endblock %}

{% block content %}
    <div class="">
        <div class="d-flex justify-content-center align-items-center vh-100">
            {% if hash_list %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Text</th>
                    <th scope="col">Hash</th>
                    <th scope="col">Created Date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in hash_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.text }}</td>
                    <td>{{ item.hash }}</td>
                    <td>{{ items.created_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4 class="text-light">You have saved nothing</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}