{% extends 'base.html' %}

{% block title %}
    Sha256 Generator
{% endblock %}

{% block content %}
    <div class="">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-4 bg-light text-center rounded-1">
                <div class="text-end">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                        /
                        <a href="{% url 'account' %}">Account</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="text-decoration-none">Login</a>
                        /
                        <a href="{% url 'register' %}" class="text-decoration-none">Register</a>
                    {% endif %}
                </div>
                <h1 class="my-5">SHA256 Generator</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if hash %}
                        <p class="my-1"><strong>Hash Result</strong> {{ hash }}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-warning my-3">Generate Hash</button>
                    {% if request.user.is_authenticated %}
                        <button class="save btn btn-primary">Save</button>
                    {% endif %}
                    <a href="{% url 'hashing:index' %}" class="btn btn-success">Clear</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
